h3 {
    text-align: center;
    color: cyan;
    }
    body{
        background-image: url("bg.webp");
    }
    
    
    /* .header{
      background-image: url("cover bg.jpg");
    } */
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    